@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" font-weight-bold>Welcome To Expense Tracker</h1>
    <p>"When you know the impact of little expenses, you will realize that there is nothing little in this World". </a></p>

    <div class="image-container my-4">
        <img src="images/expense.jpg"
             alt="Expense Tracker"
             class="img-fluid"
             width="300" />
    </div>

    <p> A Simple and useful tool for tracking and managing your daily expenses. </p>
    <style>
        body {
            background-color: #f2f2f2
            font-family: 'Segoe UI', sans-serif;
        }
        .welcome-container {
            margin-top: 100px;
        }
        .card {
            border-radius: 15px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        }
    </style>
</div>




